<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 할인 상품(7/26 ~ 8/8)</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/FirstSale.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/media.css' %}">
    <!-- 모달창 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{% static './js/FirstSale.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        <header>
            <a href="{% url 'SaleList:logo_click' %}">
            <img src="/static/img/logo.png" alt="">
            </a>
        </header>
    </div>
    <div id="nav">
        <nav>
            <div class="navGroup nav-bck" id="navA">
                <a href="{% url 'SaleList:category_filter' 'FF' %}" class="aColor"><p>신선식품</p></a>
            </div>
            <div class="navGroup nav-bck" id="navB">
                <a href="{% url 'SaleList:category_filter' 'PF' %}" class="aColor"><p>가공식품</p></a>
            </div>
            <div class="navGroup nav-bck" id="navC">
                <a href="{% url 'SaleList:category_filter' 'DN' %}" class="aColor"><p>생활용품</p></a>
            </div>
            <div class="navGroup nav-bck" id="navD">
                <a href="{% url 'SaleList:category_filter' 'all' %}"><p>🏠</p></a>
            </div>
        </nav>
    </div>
        <div id="container">
        <div class="grid-sizer"></div>
        <div id="saleProduct" class="grid">
            {% for product in filtered_products %}
            <div class="productGroup">
                <div class="product">
                    <p>{{ product.product_name }}</p>
                </div>
                {% load humanize %}
                <div class="contents">
                    <div class="img">
                        <img src="{{ product.product_image.url }}" alt="Product Image">
                    </div>
                    <div class="price">
                        <p class="original">{{ product.regular_price | floatformat:'0' | intcomma }}원</p>
                        <p class="salePrice">{{ product.discount_price | floatformat:'0' | intcomma }}원</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="noProduct">선택한 카테고리에 해당하는 상품이 없습니다.</p>
            {% endfor %}
        </div>
    </div>
<script>
            const aClick = document.querySelectorAll('.aColor');

            for(let i=0; i<aClick.length; i++){
                aClick[i].addEventListener('click', function() {
                    this.classList.toggle('aClick');
                });
            }
</script>
</body>
</html>